/* Header */

#header {
  background-color:		#444444;
  background-image:		none;
  background-position:	top left,							top left;
  background-repeat:		repeat,								no-repeat;
  background-size:		auto,								150%;
}

/* Footer */

#footer {
  background: transparent;
}

/* Image */

.image {
  &.avatar {
    img {
      background: #ffffff;
    }
  }
}

/* Basic */

a {
  border-bottom: none;
}